
body {
    margin: 0;
    padding: 0;
    background-color: rgb(199, 214, 238);
}

#board {
    
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}


#player {
    background-color: rgb(255, 0, 166);
    position: absolute;
    
}

.obstacle {
    background-color: rgb(90, 19, 156);
    position: absolute;
    
}

#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}